body{
  font-family: Arial;
  font-family: Barlow Condensed;
  font-family: Montserrat;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a{
  text-decoration: none;
}

p{
  margin: 0;
}
.header{
  background-color: #02457A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.head-right{
  width: 100px;
}

.head-left{
  width: 60px;
}

.tme, .left-portion, .user-name, .user-full-name, .user-type{
  display: inline-block;
}

.left-portion{
  display: flex;
  justify-content: center;
  align-items: center ;
  margin-right: 20px;
}

.right-portion{
  margin-left: 10px;
}

.user-name{
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 10px;
}

.tme{
  color: white;
  margin-right: 20px;
}

.user-full-name{
  font-family: Montserrat;
  font-weight: bold;
}

.user-type{
  font-family: Montserrat;
  font-weight: light;
  font-size: 15px;
}

.sidebar{
  position: fixed;
  top: 95px;
  bottom: 0;
  left: 0;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right-width: 1px;
  border-right-color: gray;
  border-right-style: solid;
}

.side-wat{
  width: 20px;
  display: inline-block;
}

.side-log{
  width: 16px;
  display: inline-block;
}

.drp{
  display: inline-block;
}

.upper-portion{
  display: inline-block;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 10px;
  cursor: pointer;
}

.upper-portion-2{
  display: inline-block;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.upper-portion-2:hover{
  background-color: #BFEDFE;
}

.upper-portion:hover{
  background-color: #BFEDFE;
}

.bottom-portion{
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log{
  display: inline-block;
  font-family: Montserrat;
  margin-left: 10px;
}

.log-out{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #02457A;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  border-radius: 4px;
  width: 200px;
}

.sub-up button{
  display: block;
}

.middle-portion{
  border-radius: 2px;
  border-color: red;
  height: 250px;
  width: 170px;
  padding-left: 30px;
  position: fixed;
  top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.ph{
  display: block;
  background-color: white;
  border: none;
  font-family: Montserrat;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  width: 150px;
  font-size: 13px;
  cursor: pointer;
}

.temp{
  display: block;
  background-color: white;
  border: none;
  font-family: Montserrat;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  width: 150px;
  font-size: 13px;
  cursor: pointer;
}

.amn{
  display: block;
  background-color: white;
  border: none;
  font-family: Montserrat;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  width: 150px;
  font-size: 13px;
  cursor: pointer;
}

.oxy{
  display: block;
  background-color: white;
  border: none;
  font-family: Montserrat;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  width: 150px;
  font-size: 13px;
  cursor: pointer;
}

.not{
  display: block;
  background-color: white;
  border: none;
  font-family: Montserrat;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  width: 200px;
  font-size: 13px;
  height: 50px;
  cursor: pointer;
}

.ph-icon{
  width: 14px;
  margin-right: 5px;
}

.temp-icon{
  width: 16px;
  margin-right: 5px;
}

.amn-icon{
  width: 16px;
  margin-right: 5px;
}

.oxy-icon{
  width: 16px;
  margin-right: 5px;
}

.not-icon{
  width: 16px;
  margin-right: 5px;
}

.head-content{
  position: absolute;
  top: 115px;
  left: 265px;
  display: inline-block;
}

.notification{
  position: absolute;
  top: 115px;
  left: 257px;
  display: inline-block;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-top-left-radius: 11px;
  border-top-right-radius: 12px;
  height: 593px;
  margin-right: 50px;
}

.heading-cont{
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
}

.ai-icon{
  width: 35px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ai-icon:hover{
  background-color: grey;
}

.ph:hover{
  background-color: #BFEDFE;
}

.temp:hover{
  background-color: #BFEDFE;
}

.amn:hover{
  background-color: #BFEDFE;
}

.oxy:hover{
  background-color: #BFEDFE;
}

.not:hover{
  background-color: #BFEDFE;
}

.analytics{
  width: 1250px;
  display: block;
  position: fixed;
  left: 250;
  z-index: 0;
}

.heading-level{
  display: inline-block;
  border-color: #02457A;
  border-width: 1px;
  border-style: solid;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 250px;
  top: -17px;
  left: 990px;
}

.ph-lvl-txt{
  font-size: 13px;
}

.ph-count{
  font-size: 15px;
  font-weight: bold;
  color: #026C37;
}

.ph-state{
  font-weight: light;
  color: #026C37;
  font-size: 12px;
}

.breakdown{
  position: absolute;
  display: block;
  bottom: 0;
  top: 482px;
  background-color: red;
}

.first-row-break{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  padding: 5px;
}

.ph-report{
  background-color: #02457A;
  color: white;
  border: none;
  padding: 8px;
  font-family: Montserrat;
  font-size: 13px;
}

.second-row-break{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-color: #02457A;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-color: #02457A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-right: 8px;
  padding-left: 8px;
}

.third-row-break{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
  padding-right: 8px;
  padding-left: 8px;
}

.third-lvl{
  margin-left: -240px;
}

.third-lvl-head{
  font-weight: 500;
}

.third-hel{
  margin-left: -90px;
}

.third-elem{
  margin-left: -40px;
}

.first-head{
  font-weight: bold;
  color: #02457A;
}

.notif-head{
  display: inline-block;
  width: 25px;
  margin-left: 10px;
}

.list-notif-head{
  display: inline-block;
  margin-left: 5px;
  color: white;
}

.head-notif{
  background-color: #435450;
  width: 1250px;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px;
}

.sub-notif{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.right-notif{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 510px;
  padding-left: 25px;
  padding-right: 25px;
}

.mid-notif{
  flex: 1;
  height: 50px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.left-notif{
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-notif{
  flex: 1;
  height: 30px;
  font-family: Montserrat;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  padding-left: 12px;
  border-radius: 25px;
}

.input-notif::placeholder{
  padding-left: 12px;
}

.img-btn-notif{
  width: 29px;
}

.btn-notif-srch{
  display: flex; 
  justify-content: center;
  align-items: center;
}

.drop-ph-notif{
  width: 28px;
}

.ph-notif-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 102px;
  border-radius: 4px;
  background-color: white;
  border-color: #435450;
  border-width: 1px;
  border-style: solid;
}

.ph-txt-notif{
  font-family: Montserrat;
}

.drop-temp-notif{
  width: 28px;
}

.temp-notif-drop{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-color: #435450;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.amn-notif-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-color: #435450;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.drop-amn-notif{
  width: 28px;
}

.drop-oxy-notif{
  width: 28px;
}

.oxy-notif-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-color: #435450;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.middle-notif{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.num-heading{
  display: inline-block;
  background-color: grey;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  top: 108px;
  left: 475px;
  position: absolute;
}

.num-read{
  display: inline-block;
  margin-left: 10px;
}

.left-heading-num{
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 55px;
  top: 108px;
}

.left-heading-prim{
  display: inline-block;
  margin-left: 10px;
}

.left-heading-notif{
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-heading-notif{
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-heading-notif{
  height: 50px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
}

.mnth-head{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
}

.day-head{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
}

.yr-head{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
}

.pos-icon{
  width: 25px;
  position: relative;
}

.content{
  display: flex;
  background-color: blue;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cont{
  position: absolute;
  background-color: white;
  left: 380px;
  top: 198px;
  width: 900px;
  height: 400px;
  border-radius: 30px;
  display: flex;
  display: inline-block;
}

.cont-signup{
  position: absolute;
  background-color: white;
  left: 250px;
  top: 25px;
  width: 1000px;
  height: 700px;
  border-radius: 30px;
  display: flex;
  display: inline-block;
}

.img-left-log{
  position: relative;
  width: 481px;
  object-fit: cover;
  object-position: left;
  display: inline-block;

}

.img-left-signup{
  width: 481px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: left;
  display: inline-block;
}

.img-left-signup-1{
  width: 600px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: left;
  display: inline-block;
}

.right-por-log{
  width: 416px;
  display: inline-block;
  position: relative;
  height: 400px;
  top: -404px;
  left: 480px;
  border-top-right-radius: 30px; 
  border-bottom-right-radius: 30px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-por-log-signup{
  width: 450px;
  display: inline-block;
  position: relative;
  height: 400px;
  top: -500px;
  left: 570px;
  border-top-right-radius: 30px; 
  border-bottom-right-radius: 30px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -45px;
}


.bottom-log{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.head-log-txt{
  font-family: Montserrat;
} 

.up-head-log-txt{
  font-family: Montserrat; 
  font-size: 18px;
}

.us-head-log-txt{
  font-family: Montserrat; 
  font-size: 12px;
  padding-bottom: 3px;
}

.pas-head-log-txt{
  font-family: Montserrat; 
  font-size: 12px;
  padding-bottom: 3px;
}

.us-log-inp{
  font-family: Montserrat;
  padding: 10px;
  width: 292px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.for-pass-inp{
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-size: 20px;
  font-family: Montserrat;
}

.us-sig-inp{
  font-family: Montserrat;
  padding: 10px;
  width: 130px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.us-sig-inp-1{
  font-family: Montserrat;
  padding: 10px;
  width: 130px;
  margin-right: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
}


.btn-log{
  padding: 10px;
  font-family: Montserrat;
  background-color: #5BCFE5;
  border: none;
  font-size: 13px;
  width: 100px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: opacity 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-log-1{
  padding: 10px;
  font-family: Montserrat;
  background-color: #5BCFE5;
  border: none;
  font-size: 13px;
  width: 100px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: opacity 0.15s;
  width: 110px;
}

.btn-log-1{
  padding: 10px;
  font-family: Montserrat;
  background-color: #5BCFE5;
  border: none;
  font-size: 13px;
  width: 100px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: opacity 0.15s;
  margin-left: 10px;
  width: 120px;
}

.btn-log:hover{
  opacity: 0.4;
}

.bottom-log{
  margin-top: 10px;
}

.bot-head-log-txt{
  font-size: 13px;
  margin-top: 5px;
  color: black;
}

.sub-log{
  margin: 5px;
}

.forg-log{
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sub-signup{
  margin: 5px;
  display: flex;
}

.head-log-sub{
  width: 150px;
  position: absolute;
  top: -101px;
}

.head-signup-sub{
  width: 119px;
  position: absolute;
  top: -80px; 
}

.head-log{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 60px;
}

.sgn-up-log{
  font-weight: 600;
  text-decoration: underline;
  color: black;
}

.input-log{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 323px;
}

.rem-pas-txt{
  font-size: 11px;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-content: center;
}

.rem-pas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.forg-pas-txt{
  font-size: 11px;
  font-weight: 600;
  color: black;
}

.sub-heading-log{
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 5px;
  color: grey;
}

.right-por-sig{
  display: flex;
  flex-direction: row;
  display: inline-block;
}

.left-por-sig{
  display: flex;
  flex-direction: row;
  display: inline-block;
}

.for-pass-aut{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  text-align: center;
  padding-left: 5px;  
}

.for-pass-aut::placeholder{
  font-family: Montserrat;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  padding: 20px; 
  display: flex;
  flex-direction: row;
}

.section {
  
  background-color: #ffffff;
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* padding: 30px; */
  width: 1200px;
  text-align: center;
}

.readings {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
}

.reading{
  font-weight: bold;
  font-size: 30px;
}

.readings span {
 padding: 4px;
 width: 700px;
}

.section-1{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 750px;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #02457A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* .readings span {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
} */

.input-field {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Montserrat;
}

/* .readings span {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
} */

.set-params {
  margin-top: 20px;
}

.set-params label {
  font-size: 16px;
  margin-top: 10px;
  display: block;
}

.set-params input {
  width: 100px;
  padding: 5px;
  margin-top: 5px;
}

.set-params .min-max {
  display: flex;
  justify-content: space-between;
}

.set-params .min-max input {
  width: 45%;
}


.content-notification{
  display: flex;
  background-color: #D9D9D9;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-notification-white{
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-content{
  display: inline-block;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  padding-left: 20px;
}

.notifier-icon{
  width: 20px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.notifier-txt{
  display: inline-block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left-content{
  display: inline-block;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  padding-left: 20px;
}

.unread-notifier{
  width: 20px;
}

.right-notifier-txt{
  width: 80px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
}

.end-portion-user{
  display: flex;
  flex-direction: row;
  width: 200px;
}

.notification-user-user{
  width: 20px;
  padding: 12px;
}

.notif-sidebar-new{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid-list-of-notif{
  height: 60px;
}

.txt-heading-list-of-notif,
.icon-heading-list-of-notif {
  display: inline-block;
}

.icon-heading-list-of-notif{
  margin-left: 25px;
  margin-top: 15px;
}

.danger-list-of-notif{
  font-weight: 600;
}

.time-list-of-notif{
  font-weight: 400;
}

.mid-list-of-notif{
  height: 60px;
}

.middle-sub-list-of-notif-a{
  display: flex;
  flex-direction: row;
}

.middle-sub-list-of-notif-b{
  display: flex;
  flex-direction: row;
}

.middle-sub-txt-list-of-notif{
  padding-left: 60px;  
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-of-notif-txt-mid{
  font-weight: bold;
}

.font-weight-list-of-notif{
  font-weight: light;
}

.font-status-list-of-notif{
  margin-left: 15px;
}

.font-status-list-of-notif-1{
  margin-left: 140px;
}

.icon-list-of-notif{
  width: 30px;
}

.gen-ai-con{
  margin-left: 60px;
  border: 1px #000 solid;
  width: 1110px;
  padding: 30px;
}

.gen-ai-con.h4 {
  font-size: 18px;
}

.full-name-sign-up{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.sub-log-full-name{
  display: flex;
  flex-direction: column;
  display: inline-block;
}

.heading-cont-alt-heading{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.ph-level-stability-user{
  width: 311px;
  height: 210px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.temp-level-stability-user{
  width: 311px;
  height: 210px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.amn-level-stability-user{
  width: 311px;
  height: 210px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.oxy-level-stability-user{
  width: 311px;
  height: 210px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.all-portion-parameter-user{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.ph-level-reading-user{
  width: 311px;
  height: 210px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.temp-level-reading-user{
  width: 311px;
  height: 210px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.amn-level-reading-user{
  width: 311px;
  height: 210px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}

.oxy-level-reading-user{
  width: 311px;
  height: 210px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}

.reading-portion-parameter-user{
  display: flex;
  flex-direction: row;
}

.temp-admin:hover{
  background-color: #BFEDFE;
}

.temp-admin{
  display: block;
  background-color: white;
  border: none;
  font-family: Montserrat;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  width: 150px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
}

.amn-admin{
  display: block;
  background-color: white;
  border: none;
  font-family: Montserrat;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  width: 150px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
}

.amn-admin:hover{
  background-color: #BFEDFE;
}

.oxy-admin{
  display: block;
  background-color: white;
  border: none;
  font-family: Montserrat;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  width: 150px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.oxy-admin:hover{
  background-color: #BFEDFE;
}

.ph-admin{
  display: block;
  background-color: white;
  border: none;
  font-family: Montserrat;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  width: 150px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
  margin-top: -8px;
}

.ph-admin:hover{
  background-color: #BFEDFE;
}

.middle-portion-admin{
  border-radius: 2px;
  height: 250px;
  width: 170px;
  padding-left: 30px;
  position: fixed;
  top: 250px;
  display: flex;
  flex-direction: column;
  align-items: end; 
}

.end-portion-sidebar-admin-1{
  margin-top: 280px;
  margin-bottom: 30px;
}

.end-portion-sidebar-admin-2{
  margin-bottom: 30px;
}

.end-portion-sidebar-admin-3{
  margin-bottom: 30px;
}

.end-portion-sidebar-admin-4{
  margin-bottom: 20px;
}

.upper-portion-1{
  display: inline-block;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 10px;
  position: fixed;
  margin-top: 65px;
  width: 180px;
}

.upper-portion-1-admin{
  display: inline-block;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 10px;
  position: fixed;
  margin-top: 65px;
  width: 180px;
}


.report-icon-sidebar{
  width: 15px;
  margin-right: 5px;
}

.reports-admin-btn{
  width: 199px;
  padding: 15px;
  background-color: white;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: start;
  align-items: start;
  font-family: Montserrat;
  margin-top: -50px;
  cursor: pointer;
}

.reports-admin-btn-sample{
  width: 170px;
  padding: 15px;
  background-color: white;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: start;
  align-items: start;
  font-family: Montserrat;
  margin-top: -50px;
  cursor: pointer;
}

.reports-admin-btn:hover{
  background-color: #BFEDFE;
}

.notif-admin-btn{
  width: 200px;
  padding: 15px;
  background-color: white;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: start;
  align-items: start;
  font-family: Montserrat;
  margin-top: -50px;
  cursor: pointer;
}

.notif-admin-btn:hover{
  background-color: #BFEDFE;
}

.att-log-admin-btn{
  width: 200px;
  padding: 15px;
  background-color: white;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: start;
  align-items: start;
  font-family: Montserrat;
  margin-top: -50px;
  cursor: pointer;
}

.att-log-admin-btn:hover{
  background-color: #BFEDFE
}

.user-manag-admin-btn{
  width: 200px;
  padding: 15px;
  background-color: white;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: start;
  align-items: start;
  font-family: Montserrat;
  margin-top: -50px;
  cursor: pointer;
}

.icon-water-parameter{
  width: 13px;
}

.icon-water-parameter-1{
  width: 7px;
}

.upper-portion-1:hover{
  background-color: #BFEDFE;
}

.analytics-admin-portion{
  width: 1250px;
  display: block;
  position: fixed;
  left: 250;
  z-index: 0;
}

.analytics-admin{
  width: 50%;
  height: 445px;
  display: block;
  position: fixed;
  left: 250;
  z-index: 0;
}

.middle-portion-notification-dashboard{
  width: 465px;
  height: 400px;
  border-color: #02457A;
  border-width: 1px;
  border-style: solid;
  position: relative;
  left: 780px;
  border-radius: 8px;
}

.notification-temp-dashboard{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notif-admin{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}

.back-icon-analytics{
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
}

.notification-temp-content-analytics{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: #D9D9D9;
  padding: 10px;
}

.left-portion-notification-dashboard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.unread-notifier-1{
  width: 15px;
}

.unread-notifier-2{
  width: 15px;
  margin-left: 30px;
}

.unread-notifier{
  width: 20px;
  margin-right: 30px;
}

.report{
  position: absolute;
  top: 115px;
  left: 265px;
  display: inline-block;
  height: 593px;
  width: 1250px;
  padding: 5px;
}

.head-content-attendance-logs-administrator{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #D9D9D9; */
  margin-top: 20px;
}

.left-portion-sub-header-dashboard{
  display: flex;
  flex-direction: row;
}

.header-content-report-dashboard-data{
  display: grid;
  flex-direction: row;
  margin-top: 5px;
  justify-content: space-between;
  grid-template-columns:auto auto auto auto auto auto auto auto auto;
}

.all-data-report-dashboard-admin{
  display: grid;
  flex-direction: row;
  margin-top: 5px;
  justify-content: space-between;
  grid-template-columns:auto auto auto auto auto auto auto auto auto;
  row-gap: 10px;
}

.all-btn-report{
  font-family: Montserrat;
  padding: 8px;
  width: 125px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFF7F9;
}

.today-btn-report{
  font-family: Montserrat;
  padding: 8px;
  width: 125px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFF7F9;
}

.month-btn-report{
  font-family: Montserrat;
  padding: 8px;
  width: 125px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFF7F9;
}

.day-btn-report{
  font-family: Montserrat;
  padding: 8px;
  width: 125px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFF7F9;
}

.year-btn-report{
  font-family: Montserrat;
  padding: 8px;
  width: 125px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFF7F9;
}

.print-btn-report-dashboard{
  background-color: #02457A;
  padding: 10px;
  width: 100px;
  border: none;
  font-family: Montserrat;
  font-weight: 700;
  color: white;
}

.grid-container{
  border-color: black;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  width: 97.5px;
  text-align: center;
}

.grid-container-1{
  padding: 20px;
  width: 97.5px;
  text-align: center;
}

.search-notification-dashboard{
  font-family: Montserrat;
  padding: 8px;
  width: 250px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.attendance-logs-container-administrator{
  width: 250px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-content-attendance-logs-administrator{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.container-user-management-border-dashboard{
  width: 1230px;
  height: 550px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.head-user-management-dashboard{
  display: flex;
  /* flex-direction: row;
  justify-content: space-between; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  padding: 15px;
}

.btn-user-management-add-user{
  background-color: #1E376D;
  border: none;
  padding: 10px;
  color: white;
  font-family: Montserrat;
  display: flex;
  justify-items: center;
  align-items: center;
}

.status-user-management-dashboard{
  padding: 10px;
  font-family: Montserrat;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.search-user-management-database{
  padding: 10px;
  font-family: Montserrat;
}

.right-portion-user-management-dashboard{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.middle-sub-header-user-management-dashboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 10px;
}

.left-portion-user-management-dashboard{
  margin-left: 10px;
  margin-top: 10px;
}

.main-header-content-user-management-dashboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #D9D9D9;
  justify-content: center;
  align-items: center;
}

.grid-user-management-dashboard{
  width: 250px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.grid-user-management-dashboard-1{
  width: 420px;
  padding: 10px;
  justify-content: center;
  display: flex;
}

.grid-user-management-dashboard-2{
  width: 450px;
  padding: 10px;
  justify-content: center;
  display: flex;
}

.all-action-button-user-management{
  display: flex;
  flex-direction: row;
}

.main-content-user-management-dashboard{
  margin-top: 10px;
}

.btn-view-user-management{
  background-color: #008844;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

.btn-edit-user-management{
  background-color: #E0C8B9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

.btn-archieve-user-management{
  background-color: #CF754F;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  border: none;
  border-radius: 4px;
  padding: 10px;
}

.main-content-data-user-management-dashboard{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.password-txt-font{
  font-size: 12px;
}

.middle-portion-reset-password-1{
  margin-left: 5px;
}

.email_verifier_forg_pass{
  padding: 10px;
  width: 250px;
  font-family: Montserrat;
}

.flex-bottom-end-portion{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
}

.btn-resend-otp-new-pass{
  background-color: #5BCFE5;
  border: none;
}

.button-sensor-homepage{
  padding: 10px;
  background-color: #02457A;
  color: white;
  font-family: Montserrat;
  border: none;
  border-radius: 4px;
}

.button-sensor-homepage-1{
  padding: 15px;
  background-color: #02457A;
  color: white;
  font-family: Montserrat;
  border: none;
  border-radius: 4px;
  width: 100px;
}

.ai-img-btn{
  width: 25px;
}

.ai-button {
  position: relative;
}

